<!-- templates/file_upload.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2>Upload de Arquivos</h2>
        <form id="fileForm" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileInput">Escolha um ou mais arquivos:</label>
                <input type="file" class="form-control-file" id="fileInput" name="fileInput" accept="*" multiple>
            </div>
            <button type="button" class="btn btn-primary" onclick="uploadFiles()">Enviar Arquivos</button>
        </form>

        <script>
            function uploadFiles() {
                var filesInput = document.getElementById('fileInput');
                var files = filesInput.files;
                var fileTableBody = document.getElementById('fileInfoBody');

                // Limpar a tabela antes de adicionar novas informações
                fileTableBody.innerHTML = '';

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (file.name) {
                        var filename, file_extension;
                        [filename, file_extension] = file.name.split('.');

                        var row = fileTableBody.insertRow(-1);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);

                        cell1.innerHTML = filename;
                        cell2.innerHTML = file.size;
                        cell3.innerHTML = file_extension;
                    }
                }

                // Enviar formulário após adicionar informações à tabela
                document.getElementById('fileForm').submit();
            }
        </script>

        <h3>Informações do Arquivo:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome do Arquivo</th>
                    <th>Tamanho (bytes)</th>
                    <th>Extensão</th>
                </tr>
            </thead>
            <tbody id="fileInfoBody">
                {% if file_info_list %}
                {% for file_info in file_info_list %}
                <tr>
                    <td>{{ file_info.filename }}</td>
                    <td>{{ file_info.size }}</td>
                    <td>{{ file_info.extension }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Inclua o script do Bootstrap JS, caso necessário -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>