<!-- templates/landing.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aterrissagem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            width: 50%;
            height: 50vh;
            /* Ajuste a altura conforme necessário */
            text-align: center;
        }

        .align-left {
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Bem-vindo à Tela de Aterrissagem</h2>
        <p>Aqui você pode escolher o próximo destino:</p>
        <a href="{{ url_for('dashboard') }}" class="btn btn-primary align-left">Ir para o Dashboard</a>
        <a href="{{ url_for('file_upload') }}" class="btn btn-secondary align-left">Ler Arquivos</a>
    </div>

    <!-- Inclua o script do Bootstrap JS, caso necessário -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>